
<div class="bg-img">

    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-fixed-top">
       
        <a class="navbar-brand" href="#"><strong>Tailoring Tutors</strong></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto" style="margin-left:200px">
            <li class="nav-item">
              <a class="nav-link" href="#"><strong>Home</strong></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><strong>About</strong></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <strong>Categories</strong>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><strong>Contact Us</strong></a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          </form>
        </div>
  
      </nav>
  
    <!--Intro Section-->
    <section class="view intro-2 rgba-gradient">
      <div class="full-bg-img">
         <div class="container flex-center">
          <div class="row flex-center pt-5 mt-3">
             <div class="col-md-6 text-center text-md-left margins">
              <div class="white-text">
                <h1 class="h1-responsive wow fadeInLeft" data-wow-delay="0.3s">Adventure begins in your sewing room.</h1>
                <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
                <h6 class="wow fadeInLeft" data-wow-delay="0.3s">
                  Join thousands of students tutored by professional Designers today.
                </h6>
                <br>
              </div>
            </div>
  
            <div class="col-md-6 wow fadeInRight d-flex justify-content-center" data-wow-delay="0.3s">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTBck9GVpTrSlSxDNhJJ9AxAPU6iO2enVhtiLjab-oozZmp43_a" alt="" class="img-responsive">

            </div>
          
          </div>
          <br> <br>
        </div>
      </div>
    </section>
  </div>
  <!-- </header> -->
  <!--Main Navigation-->
  
  <!--Main Layout-->
  <main>
  
    <div class="container">
  
      <!--Grid row-->
      <div class="row py-5">
  
        <!--Grid column-->
        <div class="col-md-12 text-center">
  
          <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea
            commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
            fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
            mollit
            anim id est laborum.</p> -->
  
        </div>
        <!--Grid column-->
  
      </div>
      <!--Grid row-->
  
    </div>
  
  </main>
  <!--Main Layout-->
